-
 name: This playbook will install nginx
 hosts: servers
 become: yes
 tasks:
   - name: install nginx
     apt: 
       name: nginx
       state: latest
   - name: start nginx
     service:
       name: nginx
       state: started
       enabled: yes
